<span>&nbsp;</span>
<div class="myprofile">
    <div>
        <table width="350">
            <tr>
                <td>
                    First&nbsp;Name:
                </td>
                <td>
                    <b>{{myfName}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Last&nbsp;Name:
                </td>
                <td>
                    <b>{{mylName}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Login:
                </td>
                <td>
                    <b>{{mylogin}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Birthday:
                </td>
                <td>
                    <b>{{mybirthday}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Gender:
                </td>
                <td>
                    <b>{{mygender}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <b>{{myemail}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Phone:
                </td>
                <td>
                    <b>{{myphone}}</b>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <img src={{myPhotoUrl}} width="350">
    </div>
</div>